{# yonetim/templates/list.html #}
{% load render_table from django_tables2 %}
{% load static %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'has_oc.css' %}">
#Incorporated one line of django-tables2 code below head tag to implement tables in template

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static
'ticket/static/css/screen.css' %}" />
    </head>
    <body>
      <h1> See your state legislators' financial interests summarized below!  </h1>
      <br>
    </br>
        {% render_table lm_table %}
        <br>
      </br>
        <br>
        {% render_table fi_table %}
      </br>
      <br>
      {% render_table oc_table %}
    </br>
    </body>
</html>
