{# yonetim/templates/list.html #}
{% load render_table from django_tables2 %}
{% load static %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'no_fi.css' %}">
#Incorporated one line of django-tables2 code below head tag to implement tables in template

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static
'ticket/static/css/screen.css' %}" />
    </head>
    <body>
      <h1 align="center"> Sorry! The Center for Public Integrity does not have any financial interest data for your state legislator.
        But you can see their financial disclosure forms below. </h1>
      <br>
    </br>
        {% render_table lm_table %}
        <br>
    </body>
</html>
